#per-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#per-container > img {
  width: 70%;
  border-radius: 50%;
  margin: 0 auto 40px;
}

#per-container > .details {
  display: flex;
  padding-left: 30px;
  gap: 20px;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  text-overflow: clip;
  margin-bottom: 20px;
}

.icon {
  width: 25px;
  display: inline-block;
}

#details {
  width: 100%;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  margin-bottom: 20px;
}
